#gameoverscreen {
	background-image:url('../Images/background.webp');
	z-index:2;
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	margin-left:0px;
	padding:0;
	visibility:hidden;
}

#scli]{
	visibility:visible;	
	color:#ff33ee;
}

#gameover{
	text-align:center;
	margin-top:2%;
}

#scoredisplay {
	color:#ff33ee;
	text-align:center;
	position:center;
	width:200px;
}

#retry{
text-align:center;
	
	margin-top:5%;
}


#scoredisplaydiv {
	margin-left: auto;
    margin-right: auto;
	margin-top:5%;
	margin-bottom:5%;
	text-align:center;
	left:40%;
	width:314.9px;
	font-size: 40pt;
}

#scorefont {
	font-size:25pt;
}

#score{
	position:absolute;
	top:0px;
	right:0px;
	width:200px;	
}

#life {
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
	text-align:left;	
}

#playground{
	position:absolute;
	top:250px;
	left:0px;
	right:0px;
	height:400px;	
}
#playground2{
	position:absolute;
	top:250px;
	left:3409px;
	height:400px;	
}
#bottom{
	position:absolute;
	top:650px;
	left:0px;
	height:75px;
}
#bottom2{
	position:absolute;
	top:650px;
	left:6910px;
	height:75px;
}
#player{
	position:absolute;
	top:550px;
	left:50px;
	width:100px;
	height:100px;
	
}

#hind1{
	position:absolute;
	top:550px;
	right:-100px;
	width:100px;
}

#hind2{
	position:absolute;
	top:550px;
	right:-100px;
	width:100px;	
}

#hind3{
	position:absolute;
	top:625px;
	right:-100px;
	width:100px;
}

#hind4{
	position:absolute;
	top:625px;
	right:-100px;
	width:100px;
}

#hind5{
	position:absolute;
	top:550px;
	right:-100px;
	width:100px;
	
}

.lauf{
	position:absolute;
	top:550px;
	left:50px;
	width:100px;
	height:100px;
}