
#divname{
margin-top:10%;
margin-left:25%;

}
#divscore{
	margin-top:-144px;
	margin-left:50%;
}

#divcon{
	
	margin-left:35em;
	
	
}

#buttoneintragen{
	margin-top:2%;
	margin-left:31%;
	background-image:url('background.jpg');
	
}
#divtextfeldn{
	width:400px;
	height:50px;
	margin-left:23%;
}
	
#divtextfelds{
	width:400px;
	height:50px;
	margin-left:5.5%;
}



input {

  font-size: 2em;
	color:#fb1bcd;
 

}
body{
background-image:url('background.jpg');
}

td{
	font-size:5em;
	color:#fb1bcd;
	
	 
}
#divplatzt{

margin-left:20em;
}

#divnamet{
margin-top:-9.2em;
margin-left:49.5em;
	
	
}

#divscoret{
margin-top:-9.1em;
margin-left:75em;
	
}
#divplayagain{
margin-top:-5em;
margin-left:;
	
}

table{
	
	margin-left:auto;
	margin-right:auto;

	

}

td{
	
	width:450px;
	text-align:center;

	
	
}




